/* common styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  /* body */
  body {

    
    width: 100vw; /* 100% viewport width */
    height: 100vh; /* 100% viewport height */
    /* overflow-x: hidden; */
    /* display: flex; */
    /* justify-content: center; */
    /* horizontally center */
    /* align-items: center; */
    /* vertically center */
    
    font-size: 1.2rem; /* default font-size */
    font-family: sans-serif;
  }

  body, ul, li, h1 {
    margin:0;
    padding:0;
    list-style: none;
  }

  a {
    color:inherit;
    text-decoration: none;
  }

  .border-red {
    border:2px solid red;
  }

  .border-blue {
    border:2px solid blue;
  }

  .border-green {
    border:2px solid green;
  }
 

    /* 라이브러리 */
  .flex {
      display: flex;
  }

  .flex-jc-sb{
    justify-content: space-between;
  }

  .flex-ai-c{
    align-items: center;
  }

  .height-100p{
    height:100%;
  }
  
  .img-box > img{
    display:block;
    width:100%;
  }
  
  .con {
    width:80%;
  }

  .con {
    margin-left:auto;
    margin-right: auto;
  }





  .top-bar {
    background-color: white;
    height: 60px;   
  }  
  
  
  .top-bar > header > .menu-box-1 > ul > li > a{

    font-size: 16px;
    font-weight: 600;    
    padding: 0 20px;
    position: relative;
    white-space: nowrap;
    
  }

  .top-bar > header > .menu-box-1 > ul > li:hover > a{

    text-decoration: underline;   
  

  }

  .top-bar > header > .menu-box-1 > ul > li:hover > a::after{

    position: absolute;
    content: "";
    top:calc(100% - 2px);
    left:0;
    width:100%;
    border-bottom:2px solid black;      

  }

  
  .main-section{
    
    
    background-color: #ccc;
 
   } 

    
  /* .container */
  .main {

    display: flex;
    flex-direction: column;
    justify-content: center; /* now this is for vertically center. Because of flex-direction: column; */
    align-items: center; /* horizontally center */
  }
  
  /* .image-box */
  .image-box {

    margin-top:15px;
    background-color: #fff;
    padding: 15px; /* inner spacing */   
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border:1px dashed #ccc;
  }
  
  /* .image */
  .image {

    width: 50%; /* the more you increase width, the more precise the prediction will be! */
    display: block;    
  }
  
  /* .label-text */
  .label-text {
    font-size: 1.5rem;
    font-family: cursive;
    max-width: 200px;
    margin-bottom: 7px;
  }
  
  /* .accuracy-text */
  .accuracy-text {
    margin-bottom: 2px;
  }
  
  /* .predict-btn */
  .predict-btn {
    background-color: #00ff00;
    font-size: 1.4rem;
    padding: 5px;
    margin: 20px 0px; /* top-bottom left-right */
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); /* x-offset y-offset blur-radius color  */
  }
  
  /* .upload-btn styles will go here */

  .upload-btn::-webkit-file-upload-button {
    display: none;
  }

  /* create our own upload button */
.upload-btn::before {
    content: 'Upload Image';
    display: block;
    background-color: rgb(161, 119, 41);
    font-size: 1.3rem;
    text-align: center;
    padding: 5px 8px;
    margin: 15px 0px 0px 0px;
    border-radius: 3px; /* for curved edges */
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 2px 3px 9px rgba(0, 0, 0, 0.5);
  }

  /* remove the "outline" and "border" */
input[type="file" i] {
    outline: none;
    border: none;
  }


.container > .result {

    display: flex; 
}

.container > .result-table {
    color: white;
}